<div class="container">
  <h1 class="container__title">Alternating-case</h1>
  <p class="container__description">
    Função abaixo que faz com que cada letra minúscula se torna maiúscula<br />
    e cada letra maiúscula se torna minúscula.
    <br />
    <br />
    <br />
    EX: Hello Word!
    <br />
    <br />
  </p>
  <div class="container__form">
    <input #input class="form__input" type="text" placeholder="message..." />
    <button (click)="toAlternatingCase(input.value)" class="form__button">
      Run
    </button>
  </div>
  <textarea class="container__output">{{ message }}</textarea>
</div>
