<div class="container">
  <h1 class="container__title">Magic Function</h1>
  <p class="container__description">
    Função que aceita um número dinâmico de parâmetros dos tipos: number, string
    e boolean.<br />E retorna o parâmetros concatenados como um hífen. Caso seja
    passado algum parâmetro que não seja dos tipos mencionados retorne
    undefined<br /><br />
    EX: 1, 2, 3, 4, 5
  </p>
  <div class="container__form">
    <input #input class="form__input" type="text" placeholder="a, b, c, d, e" />
    <button (click)="receiveAndProcessData(input.value)" class="form__button">
      Run
    </button>
  </div>
  <textarea class="container__output">{{ message }}</textarea>
</div>
