<div class="container">
  <h1 class="container__title">Ensure question</h1>
  <p class="container__description">
    Função abaixo retorna uma string com um ponto de interrogação ("?") no
    final, somente quando a string original não terminar com um com um ponto de
    interrogação. Caso contrário retorne a retorna a string original.
    <br />
    <br />
    Ex: Yes
  </p>
  <div class="container__form">
    <input #input class="form__input" type="text" placeholder="message..." />
    <button (click)="ensureQuestion(input.value)" class="form__button">
      Run
    </button>
  </div>
  <textarea class="container__output">{{ message }}</textarea>
</div>
